
<h1>Catch Information</h1>

<h2>Fish</h2>
<h4>Species:  <%=@catch.fish.species%></h1>
<h4>Weight: <%=@catch.fish.weight%> oz</h4>
<h4>Length: <%=@catch.fish.length%> inches</h4>

<h2>Bait</h2>
<h4>Name:  <%=@bait.name%></h4>
<h4>Color: <%=@bait.color%></h4>

<a href="/catches/<%=@catch.id%>/edit">Edit This Catch</a><br>
<a href="/catches/<%=@catch.id%>/delete">Delete Catch</a>
<br><br>
